#app {
  background: no-repeat url(../assets/background.png);
 }

 @font-face {
  font-family: 'Dialog';
  src: url('../assets/fonts/Dialog.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dialog';
  src: url('../assets/fonts/Dialog.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Dialog';
  src: url('../assets/fonts/Dialog.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Dialog';
  src: url('../assets/fonts/Dialog.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}